nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #542402;
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 24px;
}

.pet-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pet-category {
    width: 80%;
    height: 400px;
    background-color: #d07c40;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid #542402;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pet-category:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pet-category img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid #542402;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pet-category:hover img {
    animation: bounce 0.6s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.pet-category h2 {
    margin-top: 10px;
}